{% extends 'base.html.twig' %}

{% block title %}Inscription | {{ parent() }}{% endblock %}

{% block body %}

    <h1>Inscription</h1>

    {{ form_start(registrationForm) }}

    {{ form_label(registrationForm.email) }}
    {{ form_widget(registrationForm.email) }}
    {% if not registrationForm.email.vars.valid %}
        {% for error in registrationForm.email.vars.errors %}
            {{ error.message }}
        {% endfor %}
    {% endif %}

    {{ form_label(registrationForm.username) }}
    {{ form_widget(registrationForm.username) }}
    {% if not registrationForm.username.vars.valid %}
        {% for error in registrationForm.username.vars.errors %}
            {{ error.message }}
        {% endfor %}
    {% endif %}

    {{ form_label(registrationForm.plainPassword.first) }}
    {{ form_widget(registrationForm.plainPassword.first) }}
    {% if not registrationForm.plainPassword.first.vars.valid %}
        {% for error in registrationForm.plainPassword.first.vars.errors %}
            {{ error.message }}
        {% endfor %}
    {% endif %}

    {{ form_label(registrationForm.plainPassword.second) }}
    {{ form_widget(registrationForm.plainPassword.second) }}
    {% if not registrationForm.plainPassword.second.vars.valid %}
        {% for error in registrationForm.plainPassword.second.vars.errors %}
            {{ error.message }}
        {% endfor %}
    {% endif %}

    {{ form_row(registrationForm.agreeTerms) }}

    <button type="submit" class="btn">Inscription</button>
    {{ form_end(registrationForm) }}
{% endblock %}
